<div>
    <div class="my-4">
        <form meld:submit.prevent="submit">
            <input meld:model="search" 
                   type="text" name="name" id="name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-2" placeholder="Search for name">
        </form>
    </div>

    {% if users %}
    <div class="overflow-auto max-h-screen">
    <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
    {% for user in users %}
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
        <div class="w-full p-6">
            <h3 class="text-gray-900 text-sm font-medium truncate">{{ user.name }}</h3>
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
</div>
