{% extends "base.html" %}
{% block content %}
<div class="flex justify-center mt-8">
    <div class="text-center">
    <h1 class="text-3xl">Docs are coming soon!</h1> 
    <p>Check out the <a class="underline" href="https://github.com/mikeabrahamsen/Flask-Meld/blob/main/README.md">
        README on Github</a> to get started.</p>
    </div>
</div>
<div class="my-8 p-8 justify-center bg-gray-100 rounded-lg shadow-md border">
    <div class="text-xl text-center pb-4">
        <h3>
            Want to know when the docs are ready?
        </h3>
        <h3>
            Drop your email below and you'll be the first to know!
        </h3>
    </div>
    {% include 'email-signup.html' %}
    <p class="text-center text-sm">No spam.  Easily unsubscribe at any time.</p>
</div>
{% endblock %}
