{% extends "base.html" %}

{% block content %}
<div class="flex justify-center">
    <div class="max-w-3xl">
        <div class="text-purple-900 text-2xl sm:text-3xl mt-8">
        <h1>
            Create dynamic real-time web applications with Python
        </h1>
        </div>
        <div class="text-xl">
            <ul class="text-gray-600 my-4">
                <li>- Less context switching.</li>
                <li>- No need to write JavaScript.</li>
                <li class="flex">- Use the language we all love and enjoy! (<svg class="mr-2 text-purple-800 octicon octicon-heart icon-sponsor fill-current" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path></svg> Python)</li>
            </ul>
        </div>

        <h3 class="text-2xl pt-12 mb-6">See it in action with a <span class="underline">real</span> example!</h3>
        {% meld 'search' %}
        
        <div class="text-2xl py-6 text-center">
        <h3 class="underline">Zero lines of JavaScript.</h3> 
        <h3>Meld components consist of a simple class and a template.</h3>
        </div>
        <div class="rounded-lg text-sm">
            <pre class="m-0 language-python">
            <p class="text-right text-sm text-purple-500">meld/components/search.py</p>
            <code>
                from flask_meld import Component
                from app.models import User

                class Search(Component):
                    search = ""

                    @property
                    def users(self):
                        return User.query.filter(User.name.contains(self.search)).all()
            </code>
            </pre>
            <pre class="m-0 language-html">
            <p class="border-purple-800 text-right text-sm text-purple-500">templates/meld/search.html</p>
            <code>
            {{data}}
            </code>
            </pre>
        </div>

        <div class="text-purple-900 text-2xl text-center mt-8">
        Flask-Meld improves developer workflow by reducing context switching between front-end and back-end code.
        </div>

        <div class="my-8 p-8 justify-center bg-gray-100 rounded-lg shadow-md border">
            <div class="text-xl text-center mb-6">
            <h3 class="leading-loose">Ready to get started?</h3>
            <h3 class="text-lg">
                Drop your email below to receive a video that shows you how to create your first Meld app!
            </h3>
            </div>
        {% include 'email-signup.html' %}
        </div>
        <div class="text-purple-900 text-2xl text-center mt-8 mb-4">
            How it works
        </div>
        <div class="text-lg text-center">
            Meld utilizes server-rendered templates and <a href="https://github.com/patrick-steele-idem/morphdom">morphdom</a>. When the client makes a change, the update is pushed to 
            the server where a new template is generated and sent back to the client. Then, morphdom intelligently updates the DOM.
            It's pretty neat!
        </div>
    </div>
</div>
{% endblock %}
