{% extends "base.html" %}

{% block content %}
<div class="flex justify-center">
    <div class="max-w-3xl">
        <h1 class="text-purple-900 text-2xl sm:text-3xl mt-8">
            Supercharge your workflow with Flask-Meld. Create dynamic web interfaces
            with pure Python.
        </h1>
        <div class="text-xl">
            <ul class="text-gray-600 my-4">
                <li>- Less context switching.</li>
                <li>- No need to write JavaScript.</li>
                <li>- More fun!</li>
            </ul>
        </div>

        <div class="p-8 justify-center bg-gray-100 rounded-lg shadow-md border">
            <h3 class="text-xl text-center">
                The best way to stay up to date is to drop your email below.
            </h3>
            <h3 class="text-xl text-center">
                When something worth sharing comes along, I'll let you know.
            </h3>
        {% include 'email-signup.html' %}
        <p class="text-center text-sm">No spam.  Easily unsubscribe at any time.</p>
        </div>


        <h3 class="text-3xl pt-12 mb-6">Let's see it in action with a real example!</h3>
        {% meld 'search' %}
        
        <h3 class="text-2xl py-6 text-center">Okay, that's great. How much code do I have to write to build that?</h3>
        <p class="pb-2">The bulk of the logic is in the component class, it's really simple!</p>
        <div class="p-6 bg-black text-white rounded-lg">
            <p class="text-right text-sm text-red-800">meld/components/search.py</p>
        {% markdown %}
        ```python
        from flask_meld import Component
        from app.models import User


        class Search(Component):
            search = ""

            @property
            def users(self):
                return User.query.filter(User.name.contains(self.search)).all()
        ```
        {% endmarkdown %}
        </div>

        <p class="mb-8">
        Meld utilizes WebSockets and morphdom to create server-rendered HTML and swap out DOM elements without refreshing the page.
        </p>

        {% include 'email-signup.html' %}



    </div>
</div>
{% endblock %}
